@import 'theme';

:host {
  display: block;
  background-color: $background-card;
  border-radius: 4px;
  margin: 16px;
}

section, list-layout {
  display: block;
  height: 100%;
}


.route-container {
  min-height: 50vh; // needed for animations
}