<ng-container *transloco="let t; read: 'waterfall.list'">
  <nav mat-tab-nav-bar>
    <ng-container *ngFor="let waterfall of waterfalls$ | async">
      <a mat-tab-link [routerLink]="waterfall.id" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
        <span>{{ waterfall.name | titlecase }}</span>
      </a>
    </ng-container>
    <a mat-tab-link routerLink="./create" routerLinkActive #active="routerLinkActive" [active]="active.isActive">
      <mat-icon>add</mat-icon>
      <span>{{ t('add') }}</span>
    </a>
  </nav>

  <div class="route-container" [@routeAnimation]="routeChange(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</ng-container>