:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

header {
  padding: 24px 32px;
}

section {
  padding: 24px;
  flex: 1;
  img {
    height: 300px;
  }
}

form {
  flex: 1;
}

mat-radio-group {
  width: 50%;
  display: block;

}

img {
  cursor: pointer;
}