<ng-container *transloco="let t; read: 'movie.create'">
  <form [formGroup]="form" (ngSubmit)="create()" fxLayout="column" fxLayoutAlign="center center">
    <mat-form-field>
      <mat-label>{{ t('name.label') | titlecase }}</mat-label>
      <input matInput [placeholder]="t('name.placeholder') | titlecase" />
    </mat-form-field>
    <footer fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
      <a mat-button routerLink="../list">{{ t('cancel') | titlecase }}</a>
      <button type="submit" mat-button color="primary">{{ t('submit') | titlecase }}</button>
    </footer>
  </form>

</ng-container>