:host {
  display: block;
  height: 100%;
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav-content {
  padding: 24px;
}
mat-sidenav {
  width: 40%;
  
  section {
    padding: 24px;
  }
}

.terms {
  max-width: 100%;
  text-align: center;
}

mat-card {
  max-width: 100%;
  cursor: pointer;
  text-overflow: ellipsis;
}

.empty {
  height: 100%;
  img {
    max-width: 300px;
  }
}


.loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(white, 0.3);
}
