@import 'theme';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-color;
}

header {
  padding: 24px 32px;
}

main {
  flex: 1;
  padding: 16px 40px;
}