<ng-container *transloco="let t; read: 'movie.view'">
  <ng-container *ngIf="movie$ | async as movie">

    <header fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
      <a mat-button routerLink="../list">
        <mat-icon>arrow_back</mat-icon>
        <span>{{ t('myMovies') | titlecase }}</span>
      </a>
    </header>

    <section>
      <article fxLayout fxLayoutGap="16px">
        <img [src]="movie.poster" alt="poster"/>
        <h1>{{ movie.title }}</h1>
      </article>
      <router-outlet></router-outlet>
    </section>
</ng-container>