<ng-container *transloco="let t; read: 'movie.view'">
  <ng-container *ngIf="movie$ | async as movie">

    <mat-toolbar fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
      <a mat-button-icon routerLink="../list">
        <mat-icon>arrow_back</mat-icon>
      </a>
      <h1>{{ movie.title | titlecase }}</h1>
    </mat-toolbar>
  
    <nav mat-tab-nav-bar>
      <ng-container *ngFor="let link of links">
        <a mat-tab-link [routerLink]="link" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
          {{ link | titlecase }}
        </a>
      </ng-container>
    </nav>

    <main [@routeAnimation]="routeChange(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
  </ng-container>
</ng-container>