<ng-container *transloco="let t; read: 'income.form'">
  <ng-container *ngIf="!isLoading; else loading">
    <ng-container *ngIf="form else empty">
      <form @slideDownList [formGroup]="form">
        <div formGroupName="terms" fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
          <ng-container *ngFor="let terms of termsList">
            <mat-form-field>
              <mat-label>{{ terms.title }}</mat-label>
              <input matInput [formControlName]="terms.id" type="number" />
              <span matSuffix>€</span>
            </mat-form-field>
          </ng-container>
        </div>

        <div formGroupName="ticket" fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
          <mat-form-field>
            <mat-label>{{ t('ticket.amount') }}</mat-label>
            <input matInput formControlName="amount" name="amount" type="number" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ t('ticket.price') }}</mat-label>
            <input matInput formControlName="price" name="price" type="number" />
            <span matSuffix>€</span>
          </mat-form-field>
          <button mat-button (click)="emulate()">{{ t('submit') }}</button>
        </div>
        
      </form>
    </ng-container>
  </ng-container>
  <ng-template #empty>
    <section @slideDown fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <p>{{ t('empty.text') }}</p>
      <div fxLayout fxLayoutAlign="center center" fxLayoutGap="16px">
        <button mat-button (click)="uplaodDataset()">
          {{ t('empty.upload.1') }}
        </button>
        <button mat-button (click)="uplaodDataset()">
          {{ t('empty.upload.2') }}
        </button>
      </div>
    </section>
  </ng-template>
  <ng-template #loading>
    <header fxLayout fxLayoutAlign="center center">
      <a mat-button>-</a> <!-- Empty loading just to have the same size -->
    </header>
  </ng-template>
</ng-container>