<ng-container *transloco="let t; read: 'movie.list'">
  <list-layout *ngAsync="list$ | async as list" [list]="list">
    <grid class="list" @slideUpList >
      <ng-container *ngFor="let movie of list; trackBy: trackById">
        <a matRipple class="movie-card" [routerLink]="['..', movie.id]">
          <img [src]="movie.poster" [alt]="t('item.alt')" />
        </a>
      </ng-container>
    </grid>
    <section class="empty" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <img src="assets/img/empty.svg"/>
      <p>{{ t('empty') }}.</p>
    </section>
    <div class="loading" fxLayout fxLayoutAlign="center center"></div>
  </list-layout>
</ng-container>