@import '~@angular/material/theming';

main {
  margin: 24px;
}



a.movie-card {
  border-radius: 4px;
  line-height: 0; // needed to remove bottom padding
  cursor: pointer;
  @include mat-elevation(2);

  img {
    width: 100%;
  }
}