<ng-container *transloco="let t; read: 'movie.list'">
  <mat-toolbar fxLayoutAlign="space-between center">
    <h1>{{ t('title') | titlecase }}</h1>
    <a mat-button routerLink="../create">
      <mat-icon>add</mat-icon>
      <span>{{ t('create') }}</span>
    </a>
  </mat-toolbar>

  <ng-container *ngIf="list$ | async as list; else loading">
    <ng-container *ngIf="list.length else empty">
      <grid @slideUpList >
        <ng-container *ngFor="let movie of list; trackBy: trackById">
          <a matRipple @scaleIn class="movie-card" [routerLink]="['..', movie.id]">
            <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" [alt]="t('item.alt')" />
          </a>
        </ng-container>
      </grid>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <div class="loading" @slideDown fxLayout fxLayoutAlign="center center">
      <p>loading...</p>
    </div>
  </ng-template>
  <ng-template #empty>
    <p>Nothing here</p>
  </ng-template>
</ng-container>