@import 'theme';

:host {
  display: block;
  height: 100%;
}

form {
  display: block;
  background-color: $background-app-bar;
  padding: 24px;
  h2 {
    margin: 0;
  }

  input.chips {
    width: 250px;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    box-sizing: border-box;
    outline: none;
  }

  input[type=number] {
    text-align: right;
  }
}

article {
  margin-top: 40px;
  padding: 24px;
}

.empty {
  img {
    max-width: 400px;
  }
}

.margin {
  border-collapse: collapse;

  td {
    padding: 8px;
  }
  tfoot tr {
    border-top: solid 1px black;
  }
}