@import 'theme';
:host {
  display: block;
  height: 100%;
}

form {
  display: block;
  background-color: $background-app-bar;
  padding: 24px;

  input[type=number] {
    text-align: right;
  }
  button {
    margin-left: 16px;
  }
}

article {
  margin-top: 40px;
  padding: 24px;
}

.empty {
  img {
    max-width: 400px;
  }
}